<!doctype html>
<html lang="ko" layout:decorator="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>MUSSAPT</title>

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" rel="stylesheet">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FL0GEHWY64"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-FL0GEHWY64');
  </script>
</head>
<body>
<div th:replace="~{components/navbar :: navbar}"></div>

<th:block layout:fragment="content"></th:block>

<script src="/js/bootstrap.bundle.min.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>
